/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Custom styles for Leaflet map */
.leaflet-container {
  height: 100%;
  width: 100%;
}